#header {
    color: white;
    font-family: verdana;
    text-align: center;
    padding: 25px;
    position: relative;
    margin: 0 1px 0 1px;
}

#nav{
    position: relative;
    margin: 0 1px 0 1px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

li a:hover {
    background-color: #666666;
    color:white;
}

#pageContent{
    position: relative;
    margin: 0 1px 0 1px;
    height:450px;
}

#bottomHeader {
    background-color: #333333;
    position: relative;
    margin: 0 1px 0 1px;
    bottom: 10px;
}

#datetime{
    text-align: left;    
    color:white;
    display: block;
    padding: 2px;
}